<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Main content -->
    <div class="main-cont">
        <div class="container">
            <h6 id="h6">Products</h6>
            <div class="sub-container">
                <div class="box1 box">
                    <div class="image">
                        <img src="img/first.jpg" alt="image" class="img">
                    </div>

                    <div class="product-list">
                        <div class="h5">
                            <h5 class="head" class="bullet" style="border-top-width: 0px;">Caustic Soda Group</h5>
                        </div>
                        <ul class="list1">
                            <li class="i1 page-list" style="border-top-width: 0px;"><a href="#">Caustic Potash Lye</a></li>
                            <li class="page-list"><a href="#">Caustic Soda Flakes</a></li>
                            <li class="page-list"><a href="#">Caustic Soda Prills</a></li>
                            <li class="page-list"><a href="#">Liquid Chlorine</a></li>
                            <li class="page-list"><a href="#">Hydrochloric Acid</a></li>
                            <li class="page-list"><a href="#">Compressed Hydrogen Gas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box2 box">
                    <div class="image">
                        <img src="img/second.jpg" alt="image" class="img">
                    </div>
                    <div class="product-list">
                        <div class="h5">
                            <h5 class="head" class="bullet" style="border-top-width: 0px;">Special Chlorine Derivatives
                                Group</h5>
                        </div>
                        <ul class="list1">
                            <li class="i1 page-list" style="border-top-width: 0px;"><a href="#">Anhydrous Aluminium Chloride</a>
                            </li>
                            <li class="page-list"><a href="#">Chlorinated Paraffin</a></li>
                            <li class="page-list"><a href="#">Benzyl Alcohol</a></li>
                            <li class="page-list"><a href="#"> Benzaldehyde</a></li>
                            <li class="page-list"><a href="#">Benzyl Chloride</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box3 box">
                    <div class="image">
                        <img src="img/third.jpg" alt="image" class="img">
                    </div>
                    <div class="product-list">
                        <div class="h5">
                            <h5 class="head" class="bullet" style="border-top-width: 0px;">Sodium Chlorate Group</h5>
                        </div>
                        <ul class="list1">
                            <li class="i1 page-list" style="border-top-width: 0px;"><a href="#">Sodium Chlorate</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box4 box">
                    <div class="image">
                        <img src="img/fourth.jpg" alt="image" class="img">
                    </div>
                    <div class="product-list">
                        <div class="h5">
                            <h5 class="head" class="bullet" style="border-top-width: 0px;">Caustic Potash Group</h5>
                        </div>
                        <ul class="list1">
                            <li class="i1 page-list" style="border-top-width: 0px;"><a href="#">Caustic Potash Lye</a></li>
                            <li class="page-list"><a href="#">Caustic Potash Flakes</a></li>
                            <li class="page-list"><a href="#">Potassium Carbonate</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box5 box">
                    <div class="image">
                        <img src="img/second.jpg" alt="image" class="img">
                    </div>
                    <div class="product-list">
                        <div class="h5">
                            <h5 class="head" class="bullet" style="border-top-width: 0px;">Chloromethane Group</h5>
                        </div>
                        <ul class="list1">
                            <li class="i1 page-list" style="border-top-width: 0px;"><a href="#">Methylene Chloride</a></li>
                            <li class="page-list"><a href="#">Chloroform</a></li>
                            <li class="page-list"><a href="#">Carbon Tetrachloride</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box6 box">
                    <div class="image">
                        <img src="img/first.jpg" alt="image" class="img">
                    </div>
                    <div class="product-list">
                        <div class="h5">
                            <h5 class="head" class="bullet" style="border-top-width: 0px;">Phosphoric Group</h5>
                        </div>
                        <ul class="list1">
                            <li class="i1 page-list" style="border-top-width: 0px;"><a href="#">Phosphoric Acid</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box7 box">
                    <div class="image">
                        <img src="img/first.jpg" alt="image" class="img">
                    </div>
                    <div class="product-list">
                        <div class="h5">
                            <h5 class="head" class="bullet" style="border-top-width: 0px;">Hydrogen Peroxide Group</h5>
                        </div>
                        <ul class="list1">
                            <li class="i1 page-list" style="border-top-width: 0px;"><a href="#">Hydrogen Peroxide</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box8 box">
                    <div class="image">
                        <img src="img/fourth.jpg" alt="image" class="img">
                    </div>
                    <div class="product-list">
                        <div class="h5">
                            <h5 class="head" class="bullet" style="border-top-width: 0px;">Water Treatment Group</h5>
                        </div>
                        <ul class="list1">
                            <li class="i1 page-list" style="border-top-width: 0px;"><a href="#">Bleachwin</a></li>
                            <li class="page-list"><a href="#">Scalewin</a></li>
                            <li class="page-list"><a href="#">Poly Aluminum Chloride</a></li>
                            <li class="page-list"><a href="#">biowin</a></li>
                            <li class="page-list"><a href="#">Stable Bleaching Powder</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box9 box">
                    <div class="image">
                        <img src="img/fourth.jpg" alt="image" class="img">
                    </div>
                    <div class="product-list">
                        <div class="h5">
                            <h5 class="head" class="bullet" style="border-top-width: 0px;">Product Awareness Videos</h5>
                        </div>
                        <ul class="list1">
                            <li class="i1 page-list" style="border-top-width: 0px;"><a href="#">Poly Aluminium Chloride Awareness
                                    Film.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>  
    <!-- End Main Content -->

</body>
</html>